<?xml version="1.0"?>
<model>
  <name>rail_switch_3pos_left</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>MFJA Project Team</name>
  </author>
  <description>Three-position rotating rail switch using the left static cell as base and aiguillage3.stl as the rotating element.</description>
</model>
