<?xml version="1.0"?>
<model>
  <name>yaskawa_hc10dt</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>mfja_3rd_floor_gz</name>
    <email>n/a</email>
  </author>
  <description>Yaskawa Motoman HC10DT industrial manipulator for Gazebo Harmonic.</description>
</model>
